@import '../../global.scss';

.header {
    font-size: 12px;
}

.header main h1 {
    color: $text-color-light;
    align-self: center;
}

.header main {
    display: flex;
    flex-direction: column
}

.main {
    display: grid;
    grid-auto-flow: row;
    margin: 16px 0;
}

.main section {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: calc(100% - 32px);
    min-height: 20vh;
    border: dashed 4px #9e9e9e;
    align-items: center;
}