@import '../../global.scss';


.iconlist li svg {
    width: 4em;
    height: 4em;
}

.header {
    font-size: 12px;
}

.navlist {
    display: flex;
    flex-direction: row-reverse;
    padding: 16px;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    @include box-shadow-idle;
}

.navitem {
    margin: 0 4px;
}

.navlink, .navlink:visited{
    text-decoration: none;
}

.header main h1 {
    color: $text-color-light;
    align-self: center;
}

.header main {
    display: flex;
    flex-direction: column
}

.header main h1:nth-child(1) {
    margin-bottom: 2px;
}

.header main h1:nth-child(2) {
    margin-top: 2px;
}

.iconlist {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 0 16px 0;
}

.iconlist li {
    padding: 0;
    align-self: center;
    justify-self: center;
    margin: 0 10px;
    cursor: pointer;
}

.main {
    display: grid;
    grid-auto-flow: row;
    margin: 16px 0;
}

.skillList {
    display: grid;
    row-gap: 4px;
    list-style: none;
    align-items: center;
    justify-items: center;
}

.skillList li {
    border-radius: 5px 10px;
    display: flex;
    padding: 4px;
    @include box-shadow-transparent;
    @include box-shadow-transition-only;
}

.skillList li svg {
    align-self: center;
}

.skillList li:hover {
    @include box-shadow-idle;
}

.card {
    max-width: 95vw;
}

section h1 {
    padding-left: 32px;
    font-size: 32px;
}

.projects {
    display: grid;
    grid-auto-flow: row;
    row-gap: 16px;
    column-gap: 16px;
    list-style: none;
}

.MDCard {
    align-self: start;
}

.about {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

@media only screen and (min-width: 1250px) {
    section .projects {
        grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    }

    .header {
        font-size: 16px;
    }

    .card {
        max-width: 35vw;
    }

    .skillList {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 16px;
    }

    .timeline {
        max-width: 30vw;
        margin-left: 32px;
    }
}

@media only screen and (max-width: 1250px) {

    section .projects {
        padding: 0 16px;
    }

    .skillList {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 16px;
        row-gap: 8px;
    }

    .about {
        flex-direction: column;
    }

    .about li {
        max-width: 100%;
    }

    .timeline {
        margin-top: 16px;
    }
}