@import '../../global.palettes.scss';

.header {
    background-color: $accent-color;
}

.main {
    background-color: $bg-color-dark;
}

.skillList li {
    background-color: $bg-color-dark;
    transition: background-color 300ms;
}

.skillList li:hover {
    background-color: $bg-color-dark-elevated-8dp;
}

.sectiontitle {
    color: $text-color-dark;
}

.navlist {
    background-color: $bg-color-dark-elevated-8dp;
}

.navlink, .navlink:visited{
    color: $text-color-dark;
}
