@import '../../global.palettes.scss';

.header {
    background-color: $accent-color;
}

.main {
    background-color: $bg-color-dark;
}

.skillList li {
    background-color: $bg-color-dark;
    transition: background-color 300ms;
}

.skillList li:hover {
    background-color: $bg-color-dark-elevated-8dp;
}

.sectiontitle {
    color: $text-color-dark;
}

@media (prefers-color-scheme: dark) {
    body {
        background: $bg-color-dark;
    }

    body::-webkit-scrollbar-track {
        background: $bg-color-dark-elevated-1dp;
    }
    
    body::-webkit-scrollbar-thumb {
        background: $bg-color-dark-elevated-8dp;
    }
}

