@import '../../pages/global.palettes.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.card {
    padding: 16px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    max-width: 30vw;
    min-width: 25vw;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), background-color 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card h2{
    justify-self: center;
    text-align: center;
    font-weight: bolder;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    justify-self: flex-start;
    font-size: 24px;
    order: 2;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card p {
    order: 3;
    font-family: 'Roboto', sans-serif;
    justify-self: flex-start;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card img {
    min-height: 18em;
    max-height: 18em;
    width: 100%;
    object-fit: cover;
    justify-self: center;
    order: 1;
}

.card button {
    background: transparent;
    border: none;
    color: white;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    min-height: 2em;
    transition: background 300ms;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.card span:empty {
    order: 4;
}

.card span {
    display: flex;
    order: 5;
    margin-top: 1em;
}

.card span button {
    border-radius: 5px;
    border-width: 1.5px;
    border-style: solid;
    margin-left: .25em;
    margin-right: .25em;
    outline: none;
}

@media (max-width: 750px) {
    .card {
        max-width: 100%;
    }
}