.yellowBackgroundLayer {
    background: #F9E96A;
}

.actionButtonsDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1em;
}

.icon {
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.icon:hover {
    animation-name: spin;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
}

.yellowBackgroundLayer .icon {
    margin-left: 2.5em;
}

.actionButtonsDiv .icon {
    margin-left: 1.5em;
    margin-right: 1.5em;
}