@import './global.palettes.scss';

@font-face {
    font-family: "Biko Regular";
    src: url("../fonts/Biko_Regular.otf") format("OpenType")
}

@font-face {
    font-family: "Biko Bold";
    src: url("../fonts/Biko_Bold.otf") format("OpenType")
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1em;
}

h1 {
    font-family: 'Biko Bold';
    color: $text-color-light;
    font-display: optional; 
}

h2, h3, p {
    font-family: 'Biko Regular';
    color: $text-color-light;
    font-display: optional;
}

@media (max-width: 450px) {
    body {
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}
