@font-face {
    font-family: "Biko Regular";
    src: url("../fonts/Biko_Regular.otf") format("OpenType")
}

@font-face {
    font-family: "Biko Bold";
    src: url("../fonts/Biko_Bold.otf") format("OpenType")
}

h1 {
    font-family: 'Biko Bold';
    color: #212121;
    font-display: optional; 
}

h2, h3, p {
    font-family: 'Biko Regular';
    color: #212121;
    font-display: optional;
}

@media (max-width: 450px) {
    body {
        overflow-x: hidden;
    }
}