$bg-color-light: #f1f1f1;
$bg-color-dark: #121212;
$bg-color-dark-elevated-1dp: #181818;
$bg-color-dark-elevated-8dp: #292929;
$accent-color: #F9E96A;
$text-color-light: #1f1f1f;
$text-color-dark: #f1f1f1;

body {
    background: $bg-color-light;
}

@media (prefers-color-scheme: light) {
    body {
        background: $bg-color-light;
    }

    h1, h2, h3, p {
        color: $text-color-light;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        
        background: $bg-color-dark;
    }

    h1, h2, h3, p {
        color: $text-color-dark;
    }

}