@import '../../global.scss';

/* timeline css */
.timeline {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    @include box-shadow-idle;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), background-color 0.3s cubic-bezier(.25, .8, .25, 1);
}

.timeline:hover {
    @include box-shadow-hover;
}

.timeline li {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    transition: background-color 0.3s cubic-bezier(.25, .8, .25, 1);
    position: relative;
}

.timeline h1 {
    font-size: 24px;
    padding-left: 0
}

.timeline p {
    font-size: 20px;
    line-height: 1.25em;
}

.timeline li:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline li:before,
.timeline li:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline li:after {
    left: -30px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}