@import '../../global.scss';

.navlist {
    display: flex;
    flex-direction: row-reverse;
    padding: 16px;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    @include box-shadow-idle;
}

.navitem {
    margin: 0 8px;
}

.navlink, .navlink:visited{
    text-decoration: none;
}